.warning-box {
  margin: 100px auto;
  padding: 24px 40px;
  max-width: 450px;
  border: 1px solid #E3E3EA;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.warning-box .badge {
  padding: 6px 12px;
  border-radius: 10px;
  background: rgba(241, 197, 74, 0.2);
  font-weight: 700;
  font-size: 16px;
  color: #F1C54A;
}

.warning-box .text {
  margin-top: 16px;
}

.problem-area {
  padding: 0 24px;
}

.problem-summary,
.solution-summary {
  padding: 50px 0;
  margin: 100px 0 0;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #E3E3EA;
}

.problem-summary .title,
.solution-summary .title {
  position: relative;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.problem-summary .title::before,
.solution-summary .title::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 11px;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: currentColor;
}

.problem-summary .tag-area,
.solution-summary .tag-area {
  margin-top: 16px;
}

.problem-summary .tag-area .tag-list,
.solution-summary .tag-area .tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px 0 40px;
  gap: 16px;
}

.problem-summary .tag-area .tag-list li,
.solution-summary .tag-area .tag-list li {
  flex-shrink: 0;
  padding: 6px 12px;
  border-radius: 10px;
  line-height: 150%;
  font-size: 13px;
  font-weight: 700;
}

.problem-summary .tag-area .tag-list li {
  background: #F7DDDA;
  color: #D75746;
}

.solution-summary .tag-area .tag-list li {
  background: #DAE9F7;
  color: #4067F6;
}

.prologue-area,
.epilogue-area {
  padding: 150px 40px 100px;
}

.prologue-area .badge,
.epilogue-area .badge {
  padding: 6px 16px;
  border-radius: 18px;
  background: #F2F2F6;
  font-weight: 700;
  font-size: 16px;
  color: #86869A;
}

.prologue-area .big-title,
.epilogue-area .big-title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 32px;
  color: #86869A;
}

.prologue-area p {
  margin-top: 50px;
  color: #3C3C3C;
}

.prologue-area p del {
  color: #86869A;
}

.prologue-area p em {
  font-style: normal;
  color: #4067F6;
}

.double-diamond-area {
  margin-top: 100px;
  padding: 40px;
  border-radius: 10px;
  background: #F2F2F6;
}

.double-diamond-area .title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.double-diamond-area .title em {
  font-style: normal;
  color: #4067F6;
}

.double-diamond-area .box {
  padding: 16px 24px 24px;
  border-radius: 10px;
  background-color: #fff;
}

.double-diamond-area .box + .box {
  margin-top: 40px;
}

.double-diamond-area .box .title {
  font-size: 18px;
  font-weight: 700;
}

.double-diamond-area .box .title span {
  margin-left: 8px;
  color: #86869A;
}

.double-diamond-area .box .text {
  padding: 0 20px;
  font-size: 14px;
}

.double-diamond-area .box ul {
  padding: 0 20px;
}

.double-diamond-area .box ul li {
  margin: 0;
  font-size: 14px;
  line-height: 2;
}

.double-diamond-area .box ol:not(.gap) {
  margin: 0;
  font-size: 14px;
  line-height: 2;
}

.double-diamond-area .box ol.gap {
  margin: 0;
}

.double-diamond-area .box ol.gap li {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.03em;
  color: #86869A;
}

.double-diamond-area .box ol.gap li:not(:first-child) {
  margin-top: 24px;
}

.double-diamond-area .box ol li p {
  margin-top: 8px;
  font-weight: 400;
  color: #000;
}

.double-diamond-area .box ol li b {
  display: block;
}

.double-diamond-area .box ol li .badge {
  display: inline-flex;
  align-items: center;
  padding: 4px 16px;
  line-height: 2;
  border-radius: 4px;
  background-color: #FFF6F4;
}

.double-diamond-area .box ol li .badge.yellow {
  background-color: #FBFFEE;
}
.double-diamond-area .box ol li .badge.green {
  background-color: #F5FFF3;
}
.double-diamond-area .box ol li .badge.blue {
  background-color: #F4FAFF;
}

.double-diamond-area .box p del {
  color: #86869A;
}

.double-diamond-area .box p em {
  font-style: normal;
  color: #4067F6;
}

.group .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.group .grid img {
  margin: 0 auto;
  text-align: center;
}

.epilogue-area .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 40px;
}

.epilogue-text {
  margin-top: 40px;
  line-height: 2;
  color: #3C3C3C;
}

.epilogue-text b em {
  font-style: normal;
  color: #4067F6;
}