.design-group + .design-group {
    margin-top: 80px;
}

.design-group .img-area {
    position: relative;
    display: block;
    border: 1px solid currentColor;
}

.design-group ul li {
    margin: 0;
    line-height: 1.6;
}
.design-group ul li::before {
    top: 11px;
    width: 4px;
    height: 4px;
    border: 0;
    background-color: currentColor;
}

.strategy-area {
    display: flex;
    margin-top: 56px;
}

.strategy-area ul {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.strategy-area.hiver ul {
    max-width: 727px;
}
.strategy-area.soundcloud ul {
    max-width: 490px;
}

.strategy-area ul li {
    flex: 1;
    max-width: 220px;
    text-align: center;
    z-index: 1;
}

.strategy-area ul::after {
    content: '';
    display: block;
    position: absolute;
    top: 82px;
    left: -16px;
    width: calc(100% + 32px);
    height: 56px;
    border-radius: 28px;
    background-color: #FF8742;
    opacity: 0.5;
    z-index: 0;
}

.strategy-area ul li + li {
    margin-left: 32px;
}

.strategy-area .keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #FF5823;
    border-radius: 100%;
    font-weight: 700;
}

.strategy-area .description i {
    display: block;
}

/* soundcloud */
.strategy-area.soundcloud ul::after {
    background-color: #25B9B9;
}
.strategy-area.soundcloud ul li + li {
    margin-left: 50px;
}
.strategy-area.soundcloud .keyword {
    border-color: #25B9B9;
}


@media screen and (max-width: 799px) {
    .strategy-area {
        margin-top: 32px;
    }
    .strategy-area ul {
        margin: 0;
    }
    .strategy-area.hiver .keyword {
        background-color: rgba(255, 135, 66, 0.1);
    }
    .strategy-area.soundcloud .keyword {
        background-color: rgba(37, 185, 185, 0.1);
    }
    .strategy-area ul::after {
        display: none;
    }  
    .strategy-area ul li + li {
        margin-left: 20px;
    }
    .strategy-area.soundcloud ul li + li {
        margin-left: 32px;
    }
    .strategy-area .description i {
        display: none;
    }
}

@media (hover: hover)  {   
    .design-group .img-area::after {
        content: '디자인 보기';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.6);
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        letter-spacing: -0.03em;
        opacity: 0;
        transition: opacity 0.35s;
    }
    
    .design-group .img-area:hover::after {
        opacity: 1;
    }
}

.design-group .img-area,
.design-group p {
    margin-top: 24px;
}


/* SOUND CLOUD */
.bg-dark {
    background-color: #2E2E2E;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .sc-group {
        margin-top: 100px;
    }
    .pc-row + .pc-row {
        margin-top: 80px;
    }
    .pc-row .txt-box h4 {
        margin-bottom: 16px;
        font-size: 24px;
    }
    .pc-row .vid-box video {
        display: block;
        margin: 24px auto 0;
        height: 50vh;
        border-radius: 12px;
    }
}

@media screen and (min-width: 801px) {
    .sc-group {
        margin-top: 150px;
        height: calc(783px * 5 - 200px);
    }

    .pc-row {
        display: flex;
        justify-content: space-between;
    }

    .pc-row div {
        width: 50%;
    }

    .pc-row + .pc-row {
        height: 783px;
    }

    .pc-row .txt-box {
        max-width: 360px;
    }
    
    .pc-row .txt-box h4 {
        margin-bottom: 16px;
        padding-top: 234px;
        font-size: 48px;
    }

    .pc-row .vid-box {
        flex-shrink: 0;
    }

    .pc-row .vid-box video {
        max-width: 360px;
        width: 100%;
        border-radius: 12px;
    }

    .pc-row:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    .pc-row:nth-of-type(2) {
        transform: translateY(-80px);
    }

    .pc-row:nth-of-type(3) {
        transform: translateY(-160px);
    }

    .pc-row:nth-of-type(4) {
        transform: translateY(-240px);
    }

    .pc-row:nth-of-type(5) {
        transform: translateY(-300px);
    }

   
}
