.resume-item {
    display: flex;
}

.resume-item:not(:first-child) {
    margin-top: 80px;
}

.resume-item .key {
    flex-shrink: 0;
    width: 150px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.resume-item .value {
    display: flex;
    flex: 1;
    line-height: 1.6;
    letter-spacing: -0.03em;
}

.resume-item .value.basic {
    flex-direction: column;
}

.resume-item .value small {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #777;
    letter-spacing: -0.05em;
}

.resume-item .value.basic p:not(:first-child) {
    margin-top: 4px;
}

.resume-item .value .w50 {
    flex: 1;
}

.resume-item .value .w50 + .w50 {
    padding-left: 16px;
}

.resume-item .value .w50 img {
    display: block;
    margin-top: 8px;
    width: 100%;
}

/* mobile */
@media screen and (max-width: 599px) {
    .resume-item {
        flex-direction: column;
    }
    .resume-item .key {
        margin-bottom: 1em;
    }
    .resume-item .value {
        flex-direction: column;
    }
    .resume-item .value .w50 + .w50 {
        padding: 0;
        margin-top: 1em;
    }
    .resume-item .value .w50 img {
        max-width: 100%;
    }
}

@media (hover: hover) {
    .resume-item .value.basic a:hover {
        text-decoration: underline;
    }
    .portfolio-link {
        position: relative;
        display: block;
    }
    .portfolio-link.career::after {
        content: '경력기술서 보기';
    }
    .portfolio-link.project::after {
        content: '개인프로젝트 보기';
    }
    .portfolio-link::after {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        transition: opacity 0.35s;
        z-index: 1;
    }
    .portfolio-link:hover::after {
        opacity: 1;
    }
}