/* CONTENT > RESUME */
.content-section.resume {
    padding: 120px 0px 150px;
}

.resume-list {
    max-width: 840px;
}
.resume-item {
    display: flex;
}
.resume-item:not(:first-child) {
    margin-top: 80px;
}

.resume-item .key {
    flex-shrink: 0;
    width: 150px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.resume-item .value {
    display: flex;
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.resume-item .value > ul:not(.no-margin) > li:not(:first-child) {
    margin-top: 24px;
}
.resume-item .value > ul,
.resume-item .value .w50 > ul {
    padding: 0;
}
.resume-item .value ul ul {
    margin-top: 0.5em;
}
.resume-item .value ul ul li {
    line-height: 1.6;
}
.resume-item .value.basic {
    flex-direction: column;
}
.resume-item .value .txt-detail {
    margin-top: 4px;
    padding-left: 24px;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    letter-spacing: -0.05em;
}
.resume-item .value.basic p:not(:first-child) {
    margin-top: 4px;
}
.resume-item .value .w50 {
    flex: 1;
}
.resume-item .value .w50 + .w50 {
    padding-left: 16px;
}
.resume-item .value .w50 img {
    display: block;
    margin-top: 8px;
    padding-left: 1.5em;
    max-width: 293px;
    width: 100%;
}