@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

/* COMMON */
body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    word-break: keep-all;
}

.en {
    font-family: 'Poppins', sans-serif;
}

.inner {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 840px;
    width: 100%;
}

.inner.wide {
    max-width: 1180px;;
}

.go-to-top {
    position: fixed;
    bottom: 56px;
    right: 40px;
    display: block;
    border-radius: 100%;
    z-index: 9000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    .go-to-top {
        bottom: 20px;
        right: 20px;
    }
}

ul:not(.no-style) li {
	line-height: 1.5;
	letter-spacing: -0.03em;
}

ul:not(.no-style) li {
    position: relative;
    padding-left: 1em;
}

ul:not(.no-style) > li + li {
	margin-top: 1em;
}

ul:not(.no-style) ul li + li {
	margin: 0;
}

ul:not(.no-style) li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
	border: 1px solid currentColor;
	background-color: transparent;
}

ul:not(.no-style) ul {
	margin-top: 0.3em;
}
ul:not(.no-style) ul li::before {
	background-color: currentColor;
}
ul.no-margin li {
    margin: 0 !important;
}


/* FOOTER */
.footer {
    position: relative;
    padding: 32px 0;
    background-color: #191919;
    font-size: 12px;
    line-height: 24px;
    color: #e8e8e8;
    text-align: center;
}

/* shortcut */
.m0auto { margin: 0 auto; }
.flex-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.mt24 { margin-top: 24px; }
.mt50 { margin-top: 50px; }
.mt100 { margin-top: 100px; }
.mt150 { margin-top: 150px; }