.content-section {
    position: relative;
    margin-top: 300px; /* cover height */
    z-index: 1;
}
.content-section .inner {
    padding-top: 120px;
    padding-bottom: 150px;
}
@media screen and (max-width: 599px) {
    .content-section {
        margin-top: 200px; /* cover height */
    }
    .content-section .inner {
        padding-top: 80px;
        padding-bottom: 120px;
    }
}

.content-section .group + .group {
    margin-top: 150px;
}

.content-section h2 {
    margin-bottom: 24px;
    font-size: 24px;
}

.content-section h2.big {
    font-size: 48px;
}

.content-section h3 {
    margin-bottom: 16px;
    font-size: 20px;
}

.content-section h4.big {
    font-size: 32px;
}

.content-section p {
    line-height: 1.5;
    letter-spacing: -0.03em;
}