/* COVER */
.cover-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
}

.cover-section.resume {
    background: url('../../images/bg_cover_resume.png') no-repeat center / cover;
}
.cover-section.career.gobang {
    background: url('../../images/bg_cover_career_gobang.png') no-repeat center / cover;
}
.cover-section.career.champscore {
    background: url('../../images/bg_cover_career_champscore.png') no-repeat center / cover;
}
.cover-section.project {
    background: url('../../images/bg_cover_project.png') no-repeat center / cover;
}

.cover-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover-section.resume::before {
    background-color: rgba(43, 43, 43, 0.8);
}
.cover-section.career.gobang::before {
    background-color: rgba(37, 185, 185, 0.7);
}
.cover-section.career.champscore::before {
    background-color: rgba(64, 103, 246, 0.7);
}
.cover-section.project::before {
    background-color: rgba(96, 4, 62, 0.8);
}

.cover-section .cover-title {
    position: relative;
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}

@media screen and (max-width: 599px) {
    .cover-section {
        height: 400px;
    }
    .cover-section .cover-title {
        padding-top: 130px;
        font-size: 38px;
        letter-spacing: 0px;
    }
}
