/* COVER */
.cover-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* gnb height */
    height: 300px;
}

.cover-section.resume {
    background: url('../../images/bg_cover_resume.png') no-repeat center / cover;
}
.cover-section.career {
    background: url('../../images/bg_cover_career.png') no-repeat center / cover;
}
.cover-section.project {
    background: url('../../images/bg_cover_project.png') no-repeat center / cover;
}

.cover-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover-section.resume::before {
    background-color: rgba(43, 43, 43, 0.8);
}
.cover-section.career::before {
    background-color: rgba(37, 185, 185, 0.7);
}
.cover-section.project::before {
    background-color: rgba(96, 4, 62, 0.8);
}

.cover-section .cover-title {
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}

@media screen and (max-width: 599px) {
    .cover-section {
        margin-top: 60px; /* gnb height */
        height: 200px;
    }
    .cover-section .cover-title {
        font-size: 38px;
    }
}
