:root {
    --light-body-bg: #fff;
    --light-body-color: #000;
    --dark-body-bg: #222;
    --dark-body-color: #e8e8e8;

    --light-gnb-bg: #fff;
    --light-gnb-color: #353535;
    --dark-gnb-bg: #191919;
    --dark-gnb-color: #e8e8e8;

    --light-gray-bg: #F8F8F8;
    --dark-gray-bg: #191919;
}

/* body */
.content-section {
    /* IE fallback */
    background-color: #fff;
    color: #000;

    background-color: var(--light-body-bg);
    color: var(--light-body-color);
    transition: background-color, color 0.35s linear;
}
html.dark .content-section {
    background-color: var(--dark-body-bg);
    color: var(--dark-body-color);
    transition: background-color, color 0.35s linear;
}

/* gnb */
.gnb {
    /* IE fallback */
    background-color: #fff;
    color: #353535;

    background-color: var(--light-gnb-bg);
    color: var(--light-gnb-color);
    transition: background-color, color, transform 0.35s linear;
}
html.dark .gnb {
    background-color: var(--dark-gnb-bg);
    color: var(--dark-gnb-color);
    transition: background-color, color, transform 0.35s linear;
}

/* career */
.bg-gray {
    /* IE fallback */
    background-color: #f8f8f8;
    background-color: var(--light-gray-bg);
}
html.dark .bg-gray {
    background-color: var(--dark-gray-bg);
}
html.dark .ut-group .box .top,
html.dark .design-explain .as-is {
    background-color: #eee;
}